@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Montserrat:ital,wght@0,200;1,200&display=swap');

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .circle {
        font-size: 80px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .circle {
        font-size: 30px;
    }
}

body{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #000000;
}

html{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: black;
} 

top, bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 90%;
}

top {
    top: 0;
    background-color: black;
}

bottom {
    bottom: 0;
    background-color: black;
}

.title {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 200px;
  transform: translate(-47%, -50%);
  color: white;
  width: 70%;
}

/* top section */
.circle{
    position: absolute;
    top: 15%;
    left: 35%;
    width: 60vh;
    height: 60vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.circle:after{
    content: '';
    position: absolute;
    top: 35px;
    right: 35px;  
    bottom: 35px;
    left: 35px;
    border-radius: 50%;
    background-color: black;
}

.circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    border-radius: 50%;
}

.circle span:nth-child(1){
    filter: blur(5px);
}

.circle span:nth-child(2){
    filter: blur(15px);
}

.circle span:nth-child(3){
    filter: blur(20px);
}

.circle span:nth-child(4){
    filter: blur(55px);
}

/* bottom section */
ul{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    padding: 10px 0;
    background: #000000;
    display: flex; 
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

ul li{
    list-style: none;
    text-align: center;
    display: block;  
    /* border-left: 1px solid rgba(255, 255, 255, 0.2); */
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
}

ul li a{
    text-decoration: none;
    padding: 0 30px;
    display: block;
}

.icon{
    transition: transform 0.5s;
    font-size: 17px;
}

.icon:hover{
    transform: translateY(-10px);
}