@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

p{
    font-size: 12px;
    line-height: 10px;
    background: url(images/ThePalm.jpg);
    background-size: 1100px 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

