*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #8460ed, #ff1252);
}

.menu{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s*var(--i));
    transform: rotate(0deg) translate(80px);
}

.menu.active li{
    transform: rotate(calc(360deg/7*var(--i)));
}

.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transform: rotate(calc(360deg/-7*var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #111;
    transition: 0.5s;
}

.menu li a: hover{
    color: #ff1252; 
}

.toggle{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: transform 1.25s;
}

.menu.active .toggle{
    transform: rotate(315deg);
}

top, bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 90%;
}

top {
    top: 0;
}

bottom {
    bottom: 0;
}

.bottom ul{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    padding: 10px 0;
    background: #000000;
    display: flex; 
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

.bottomul li{
    list-style: none;
    text-align: center;
    display: block;  
    /* border-left: 1px solid rgba(255, 255, 255, 0.2); */
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
}

.bottomul li a{
    text-decoration: none;
    padding: 0 30px;
    display: block;
} 