@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Montserrat:ital,wght@0,200;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
  border: 5px solid black;
}

.orcawise,
.bidnamics,
.zerve{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.text{
    width: 350px;
    font-size: 40px;
    /* font-weight: 500; */
    line-height: 30px;
    margin-bottom: 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
}

.text > .title{
    font-size: 82px;
    font-weight: bold;
    color: black;
    
}

.text > .description{
    font-size: 18px;
    font-weight: 100;
}

.orcawise > .image{
    width: 600px;
}

.bidnamics > .image{
    width: 600px;
}

.zerve > .image{
    width: 600px;
}